<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/CarDealers.styles.css" asp-append-version="true" />
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/cssRegister/style.css"> 
</head>
<body>
    <header class="header_section">
    </header>

    @RenderBody()

    <footer class="container-fluid footer_section">
        <p>
            &copy; <span id="getcurrentYear"></span> All Rights Reserved By FPT University
        </p>
    </footer>
    <script src="~/jsLogin/jquery.min.js"></script>
    <script src="~/jsLogin/popper.js"></script>
    <script src="~/jsLogin/bootstrap.min.js"></script>
    <script src="~/jsLogin/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
