@model CarDealers.Entity.FuelType
@{
    ViewBag.Title = "Create Fuel Type";
}
<div class="content-wrap">
    <div class="col-lg-12">
        <div class="card">
            @using (Html.BeginForm("CreateFuel", "Fuel", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(model => model.FuelTypeName)
                    @Html.TextBoxFor(model => model.FuelTypeName, new { @class = "form-control input-rounded" })
                    <div style="color : red">
                    @Html.ValidationMessageFor(model => model.FuelTypeName)
                    </div>
                </div>

                <!-- Add other form fields as needed -->

                <button type="submit" class="btn btn-dark">Create Fuel</button>
            }
        </div>
    </div>
</div>
