@model List<OrderDetialsViewModel>

<!DOCTYPE html>
<html>
<head>
    <title>Order details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        h1 {
            margin: 20px 0;
        }

        table {
            margin: 0 auto;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #000;
            padding: 8px;
        }

        a {
            display: block;
            margin: 20px auto;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <h1>Order details</h1>

    @if (Model.Count == 0)
    {
        <p>There are no line items.</p>
    }
    else
    {
        <table>
            <tr>
                <th>Code orders</th>
                <th>Product's name</th>
                <th>Seller</th>
                <th>Quantity</th>
                <th>Total price</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>#@item.OrderId</td>
                    <td>@item.ProductName</td>
                    <td>@item.SellerName</td>
                    <td>@item.Quantity</td>
                    <td>@item.TotalPrice</td>
                </tr>
            }
        </table>
    }

    <a href="~/ViewOrder/ViewOrder">Back to list</a>
</body>
</html>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




